# Pandas入门教程
## 1 数据框的生成与特性
### 1.1 数据框的生成
`pandas`以类似字典的方式来生成数据集。

In [20]:
import numpy as np
import pandas as pd

d0 = {'x1':5,'x2':989}
d1 = {'x2':np.arange(3),'x1':([4.5,9],8),'x3':(1,2,5.7)}
d2 = {'x3':{'m':3,'n':5},'x2':([4.3],[9.0])}
df = pd.DataFrame([d0,d1,d2])
r2 = df.loc[2,'x3']['m']
r2

3

引用数据框中的数据，使用`iloc`和`loc`命令。`loc`根据数据框的行名`index`来索引对应的行。`iloc`是根据行号来索引，行号从0开始，逐次加1。

In [21]:
r1 = df.iloc[1,0][0]
r1

([4.5, 9], 8)

In [ ]:
r2 = df.loc[2,'x3']['m']
r2

In [ ]:
r3 = df.x1[1]
r3

数据框生成的两种写法：一种是使用字典的方式，另一种使用`numpy`包，生成向量后，再生成数据集。

In [23]:
d1 = {'x1':[1,2,3,4],'y1':[23,4,5,6]}
df1 = pd.DataFrame(d1)
df1

   x1  y1
0   1  23
1   2   4
2   3   5
3   4   6

In [28]:
import numpy as np
d1 =np.array([[1,2,3,4],[23,4,5,6]]).T
df1 = pd.DataFrame(d1,columns=['x1','y1'])
df1

   x1  y1
0   1  23
1   2   4
2   3   5
3   4   6

### 1.2 数据框的描述性统计
首先产生一个数据框。

In [32]:
import numpy as np
np.random.seed(523)
name = ['x1','x2','x3','y']
df = pd.DataFrame(np.random.randn(7,4),columns=name)
df['sex'] = ['F']*3 + ['M'] * 4
df

         x1        x2        x3         y sex
0  0.904925 -0.224031  0.595433  0.013984   F
1 -0.553977 -0.578244  0.204304 -1.992026   F
2  1.607503  1.855087  0.857693 -0.815639   F
3 -0.898555  0.422171  0.138604 -0.225942   M
4  3.383840  0.656177 -1.877143 -0.334412   M
5  1.077794  0.444402  2.587604 -0.390135   M
6  2.230877 -0.012570 -2.140316  0.366736   M

查看前两行。

In [33]:
df.head(2)

         x1        x2        x3         y sex
4  3.383840  0.656177 -1.877143 -0.334412   M
5  1.077794  0.444402  2.587604 -0.390135   M
6  2.230877 -0.012570 -2.140316  0.366736   M

查看后三行。

In [ ]:
df.tail(3)

输出一些描述性统计指标。

In [ ]:
df.describe()

查看数据集的变量名称。

In [ ]:
df.columns

查看数据的变量行名。

In [38]:
df.index

         x3         y sex
A  0.595433  0.013984   F
B  0.204304 -1.992026   F
C  0.857693 -0.815639   F
D  0.138604 -0.225942   M

可以修改行名。

In [ ]:
df.index = ['A','B','C','D','E','F','G']

输出最后3个变量的头4行。

In [ ]:
df[df.columns[2:]][:4]

数据框的元素个数。

In [ ]:
df.size

数据框的形状。

In [39]:
df.shape

(7, 5)

## 1.3 数据框行列名修改

In [40]:
df.rename(columns={'x1':'price','x2':'length'},inplace=True)
df.columns

Index(['price', 'length', 'x3', 'y', 'sex'], dtype='object')

In [54]:
df.index = np.arange(2,9)
df
df['price2']=np.copy(df.price)
df2 = df.set_index('price2')
df2

              price    length        x3         y sex
price2
 0.904925  0.904925 -0.224031  0.595433  0.013984   F
-0.553977 -0.553977 -0.578244  0.204304 -1.992026   F
 1.607503  1.607503  1.855087  0.857693 -0.815639   F
-0.898555 -0.898555  0.422171  0.138604 -0.225942   M
 3.383840  3.383840  0.656177 -1.877143 -0.334412   M
 1.077794  1.077794  0.444402  2.587604 -0.390135   M
 2.230877  2.230877 -0.012570 -2.140316  0.366736   M

把现有`index`的反向作为新的`index`。

In [ ]:
new_index = df2.index[::-1]
df2 = df2.reindex(new_index)
df2

把原来的`index`变为一个变量。

In [58]:
df2.reset_index()

AttributeError: 'DataFrame' object has no attribute 'reset_price'

把原来的`index`去掉。

In [ ]:
df2.reset_index(drop=True)

## 2 常见类型文件的存取

保存csv文件和xlsx文件。

In [82]:
import os
import pandas as pd
##当前文件所在位置
os.getcwd()
##创建文件夹Data
os.makedirs('/Data', exist_ok=True)
## 保存csv文件
df.to_csv('Data/Df.csv',index=False) ##不加入行名
df.to_csv('Data/Df2.csv',index=True) ##保存行名
## 保存xlsx文件
dfexcel = pd.ExcelWriter('Data/Df.xlsx')
df.to_excel(dfexcel,'dfexcel',index=True)
df.to_excel(dfexcel,'dfexcel2',startrow=2,startcol=3,index=True)
dfexcel.save()

读取excel数据。

In [84]:
## 读取excel数据
dfxls = pd.read_excel('Data/Df.xlsx','dfexcel',index_col=0)
dfxls

      price    length        x3         y sex    price2
2  0.904925 -0.224031  0.595433  0.013984   F  0.904925
3 -0.553977 -0.578244  0.204304 -1.992026   F -0.553977
4  1.607503  1.855087  0.857693 -0.815639   F  1.607503
5 -0.898555  0.422171  0.138604 -0.225942   M -0.898555
6  3.383840  0.656177 -1.877143 -0.334412   M  3.383840
7  1.077794  0.444402  2.587604 -0.390135   M  1.077794
8  2.230877 -0.012570 -2.140316  0.366736   M  2.230877

## 3 数据框的简单计算和数据操作
### 3.1 数据的生成和转置

In [135]:
np.random.seed(523)
df = pd.DataFrame(np.random.randn(7,4),columns=['A','B','C','D'])
#df['sex']=['F']*3+['M']*4
df.index = range(1,8)
df

          A         B         C         D
1  0.904925 -0.224031  0.595433  0.013984
2 -0.553977 -0.578244  0.204304 -1.992026
3  1.607503  1.855087  0.857693 -0.815639
4 -0.898555  0.422171  0.138604 -0.225942
5  3.383840  0.656177 -1.877143 -0.334412
6  1.077794  0.444402  2.587604 -0.390135
7  2.230877 -0.012570 -2.140316  0.366736

数据框转置，`df.T`。

In [ ]:
df2 = df.T
df2
df2.columns = ['A','B','C','D','E','F','G']
df2.index=range(1,5)
df2

### 3.2 数据框的加法减法
只有变量名、行名、数据类型对的上的元素才能相加，不匹配的元素相加会显示为`NaN`。

In [137]:
df3=df-df2
df3

          A         B         C         D   E   F   G
1  0.000000  0.329946 -1.012070  0.912539 NaN NaN NaN
2 -0.329946  0.000000 -1.650783 -2.414198 NaN NaN NaN
3  1.012070  1.650783  0.000000 -0.954243 NaN NaN NaN
4 -0.912539  2.414198  0.954243  0.000000 NaN NaN NaN
5       NaN       NaN       NaN       NaN NaN NaN NaN
6       NaN       NaN       NaN       NaN NaN NaN NaN
7       NaN       NaN       NaN       NaN NaN NaN NaN

### 3.3 计算变量的增长率
使用*错位相减*方法，计算变量A的增长率。

In [143]:
df['A_growth'] = df['A']/(df['A']-df['A'].diff())-1
df

          A         B         C         D  A_growth
1  0.904925 -0.224031  0.595433  0.013984       NaN
2 -0.553977 -0.578244  0.204304 -1.992026 -1.612180
3  1.607503  1.855087  0.857693 -0.815639 -3.901751
4 -0.898555  0.422171  0.138604 -0.225942 -1.558976
5  3.383840  0.656177 -1.877143 -0.334412 -4.765868
6  1.077794  0.444402  2.587604 -0.390135 -0.681488
7  2.230877 -0.012570 -2.140316  0.366736  1.069854

### 3.4 通过变量的值筛选数据
选择A小于0，或者增长率大于1的A,B,C和A_growth列，下面两种写法结果一致。

In [145]:
df.loc[(df['A']<0)|(df.A_growth>1),['A','B','C','A_growth']]
df.loc[(df['A']<0)|(df.A_growth>1)][['A','B','C','A_growth']]

          A         B         C  A_growth
2 -0.553977 -0.578244  0.204304 -1.612180
4 -0.898555  0.422171  0.138604 -1.558976
7  2.230877 -0.012570 -2.140316  1.069854

### 3.5 按照多个变量进行排序
把数据df中的每个数据按type进行降序排序，type内每类进行升序排序。

In [147]:
df['type'] = ['type1']*2+['type2']*2+['type1']*2+['type3']
df.sort_values(by=['type','B'],ascending=[False,True])

          A         B         C         D  A_growth   type
7  2.230877 -0.012570 -2.140316  0.366736  1.069854  type3
4 -0.898555  0.422171  0.138604 -0.225942 -1.558976  type2
3  1.607503  1.855087  0.857693 -0.815639 -3.901751  type2
2 -0.553977 -0.578244  0.204304 -1.992026 -1.612180  type1
1  0.904925 -0.224031  0.595433  0.013984       NaN  type1
6  1.077794  0.444402  2.587604 -0.390135 -0.681488  type1
5  3.383840  0.656177 -1.877143 -0.334412 -4.765868  type1

### 3.6 根据变量条件建立新变量
根据数据df中的A建立新变量AType,大于0为`positive`，小于等于0 为`negtive`。

In [149]:
df.loc[df.A>0,'AType']='positive'
df.loc[df.A<=0,'AType']='negtive'
df

          A         B         C         D  A_growth   type     AType
1  0.904925 -0.224031  0.595433  0.013984       NaN  type1  positive
2 -0.553977 -0.578244  0.204304 -1.992026 -1.612180  type1   negtive
3  1.607503  1.855087  0.857693 -0.815639 -3.901751  type2  positive
4 -0.898555  0.422171  0.138604 -0.225942 -1.558976  type2   negtive
5  3.383840  0.656177 -1.877143 -0.334412 -4.765868  type1  positive
6  1.077794  0.444402  2.587604 -0.390135 -0.681488  type1  positive
7  2.230877 -0.012570 -2.140316  0.366736  1.069854  type3  positive

### 3.7 在已有的数据框中插新变量
使用`insert`函数将`id`插入到第0列。若插入同名变量，需设置`allow_duplicates=True`。

In [154]:
df.insert(loc=0,column='id',value=np.random.randn(7))
df
df.insert(5,'id',0,allow_duplicates=True)
df

,id,A,B,C,D,id,A_growth,type,AType
1,-1.177166,0.904925,-0.224031,0.595433,0.013984,0,NaN,type1,positive
2,0.432647,-0.553977,-0.578244,0.204304,-1.992026,0,-1.612180,type1,negtive
3,-0.738951,1.607503,1.855087,0.857693,-0.815639,0,-3.901751,type2,positive
4,-0.271930,-0.898555,0.422171,0.138604,-0.225942,0,-1.558976,type2,negtive
5,-0.065799,3.383840,0.656177,-1.877143,-0.334412,0,-4.765868,type1,positive
6,0.655757,1.077794,0.444402,2.587604,-0.390135,0,-0.681488,type1,positive
7,0.399487,2.230877,-0.012570,-2.140316,0.366736,0,1.069854,type3,positive

### 3.8 删除数据框的变量和观测值
使用`drop`变量,删除数据框df中的1，3，5行以及id变量。

In [156]:
df_new = df.drop(index=[1,3,5],columns='id')
df_new

          A         B         C         D  A_growth   type     AType
2 -0.553977 -0.578244  0.204304 -1.992026 -1.612180  type1   negtive
4 -0.898555  0.422171  0.138604 -0.225942 -1.558976  type2   negtive
6  1.077794  0.444402  2.587604 -0.390135 -0.681488  type1  positive
7  2.230877 -0.012570 -2.140316  0.366736  1.069854  type3  positive

## 4 长宽数据转换及数据集之间的合并
### 4.1 长宽数据转换
使用`melt`实现宽数据转长数据。`id_vars`是要保留的主字段，`var_name`拉长的分类变量，`value_name`拉长的度量值名称。

In [167]:
import pandas as pd
import numpy as np
df=pd.DataFrame({
"名称":["苹果","香蕉","橘子","梨","葡萄"],
"产地":["A","B","C","D","E"],
"Sale2013":[5000,3500,2300,2100,3100],
"Sale2014":[5050,3800,2900,2500,3300],
"Sale2015":[5050,3800,2900,2500,3300],
"Sale2016":[5050,3800,2900,2500,3300]
       })
df

   名称 产地  Sale2013  Sale2014  Sale2015  Sale2016
0  苹果  A      5000      5050      5050      5050
1  香蕉  B      3500      3800      3800      3800
2  橘子  C      2300      2900      2900      2900
3   梨  D      2100      2500      2500      2500
4  葡萄  E      3100      3300      3300      3300

In [168]:
df1=df.melt(id_vars=["名称","产地"],   #要保留的主字段
var_name="Year",                     #拉长的分类变量
value_name="Sale")                  #拉长的度量值名称
df1

    名称 产地      Year  Sale
0   苹果  A  Sale2013  5000
1   香蕉  B  Sale2013  3500
2   橘子  C  Sale2013  2300
3    梨  D  Sale2013  2100
4   葡萄  E  Sale2013  3100
5   苹果  A  Sale2014  5050
6   香蕉  B  Sale2014  3800
7   橘子  C  Sale2014  2900
8    梨  D  Sale2014  2500
9   葡萄  E  Sale2014  3300
10  苹果  A  Sale2015  5050
11  香蕉  B  Sale2015  3800
12  橘子  C  Sale2015  2900
13   梨  D  Sale2015  2500
14  葡萄  E  Sale2015  3300
15  苹果  A  Sale2016  5050
16  香蕉  B  Sale2016  3800
17  橘子  C  Sale2016  2900
18   梨  D  Sale2016  2500
19  葡萄  E  Sale2016  3300

长数据转为宽数据可以通过透视的功能实现，类似于excel中的透视表功能。用`pivot`方法实现。index为透视的索引，columns是透视的列，values是透视的值。

In [169]:
df2 = df1.pivot(index='Year',columns=['名称','产地'],values='Sale').T
df2

Year   Sale2013  Sale2014  Sale2015  Sale2016
名称 产地
苹果 A       5000      5050      5050      5050
香蕉 B       3500      3800      3800      3800
橘子 C       2300      2900      2900      2900
梨  D       2100      2500      2500      2500
葡萄 E       3100      3300      3300      3300

### 4.2 数据合并
使用`merge`进行合并，`on`为合并的关键字段，`how`为连接方式，`merge`函数默认连接方式是`inner`，另外有`left`,`right`,`outer`等，当两个数据集合并的列名不相同时用 left_on,right_on。

In [172]:
import pandas as pd
import numpy as np
df1=pd.DataFrame({'key':['a','b','c','d','e'],'data2':np.arange(5)})
print(df1)
df2=pd.DataFrame({'key':['a','b','c'],'data1':np.arange(3)})
print(df2)
df=pd.merge(df1,df2,on='key',how='inner')
print(df)
df=pd.merge(df1,df2,on='key',how='left')
print(df)
df=pd.merge(df1,df2,on='key',how='right')
print(df)
df=pd.merge(df1,df2,on='key',how='outer')
print(df)
df1=df1.rename(columns={'key':'key1'})
df_new=pd.merge(df1,df2,left_on='key1',right_on='key',how='left')
print(df_new)

  key  data2
0   a      0
1   b      1
2   c      2
3   d      3
4   e      4
  key  data1
0   a      0
1   b      1
2   c      2
  key  data2  data1
0   a      0      0
1   b      1      1
2   c      2      2
  key  data2  data1
0   a      0    0.0
1   b      1    1.0
2   c      2    2.0
3   d      3    NaN
4   e      4    NaN
  key  data2  data1
0   a      0      0
1   b      1      1
2   c      2      2
  key  data2  data1
0   a      0    0.0
1   b      1    1.0
2   c      2    2.0
3   d      3    NaN
4   e      4    NaN
  key1  data2  key  data1
0    a      0    a    0.0
1    b      1    b    1.0
2    c      2    c    2.0
3    d      3  NaN    NaN
4    e      4  NaN    NaN